<%= simple_form_for(@subject) do |f| %>
    <% if @subject.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

          <ul>
            <% @subject.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <%= f.input :name %>
    <%= f.input :description, as: :text, input_html: {rows: 3, cols: 25} %>

    <%= f.input :image, as: :file, multiple: true, input_html: {class: ''} %>


    <%= f.input :is_visible, as: :boolean %>
    <div class="clear"></div>

    <div id="custom_fields">
      <%= f.simple_fields_for :custom_fields do |f| %>
          <%= f.input :author, :input_html => { :value => !@subject.custom_fields.nil? ? @subject.custom_fields['author'] :"" } %>
      <% end %>

      <div class="clear"></div>

    </div>
    <div class="clear"></div>
    <h3>Pages</h3>
    <div id="pages">

      <%= f.simple_fields_for :pages do |e| %>
          <%= render 'page_fields', f: e %>
      <% end %>
      <div class="clear"></div>
      <div class="links col-lg-9">
        <%= link_to_add_association 'add page', f, :pages %>
      </div>
    </div>



    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
