<h1>Listing subjects</h1>

<table style="width: 600px;">
  <thead>
  <tr>
    <td <%= sort_td_class_helper "id" %> style="width: 5%">
      <%= sort_link_helper "ID", "id" %>
    </td>
    <td <%= sort_td_class_helper "name" %> style="width: 30%">
      <%= sort_link_helper "Name", "name" %>
    </td>

    <th style="width:50%">description</th>

    <th <%= sort_td_class_helper "is_visible" %>>
      <%= sort_link_helper "Visible", "is_visible" %>
    </th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.id %></td>
        <td><%= subject.name %></td>
        <td><%= subject.description %></td>
        <td><%= status_tag(subject.is_visible,subject.visibility) %></td>
        <td><%= link_to 'Show', subject ,:class => 'action show' %></td>
        <td><%= link_to 'Edit', edit_subject_path(subject) ,:class => 'action edit' %></td>
        <td><%= link_to 'Destroy', subject, method: :delete, data: {confirm: 'Are you sure?'},:class => 'action delete' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @subjects %>
<br>
<%= link_to 'New Subject', new_subject_path %>
